<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Exchange</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.0/vue.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-9/css/all.css'/>

    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <div id="app">
        <header>
            <h1>
                <span class='switcher' @click='open = !open'> <i class="fas fa-bars"></i> </span>
                CurrencyExcange | 各國匯率計算器
            </h1>                   
        </header>
        
        <div class="currencies" :class={show:open}>
                <span class="currency" v-for='item in allList' @click='addInto(item)'>
                    <span class='cur-code'>{{item.currencyCode}}</span> | 
                    <span class='cur-name'>{{item.currencyName}}</span>
                </span>
        </div>

        <div class="searcher">

            <label for="money">從</label>
            <select id='money' v-model='selecting'>
                <option disabled>選擇幣別</option>
                <option :value="key" v-for='(rate, key) in apiData'> {{key}}</option>
            </select>

            <label for="amount">兌換</label>
            <input type="number" class="amount" id='amount' v-model='inputingAmount'>

            <input type="button" class="count" value='換起來' @click='exchangeUp'>
        </div>

        <div class="monitor">
            <div class="target">
                <h1>{{ CurrencyFrom }}/{{ amount}}</h1>
            </div>
            <div class="exchanges">
                <ul>
                    <li v-for='item in CurrencyTo' class='each-cur'>
                        <span class='swap-btn' @click='swapHandler(item)'>
                            <i class="fas fa-exchange-alt"></i>
                        </span>
                        <span>
                            {{item}}匯率:<span class='each-rate'>({{apiData[item]}})</span>
                        </span>
                       <span class='total-amount'>
                        <span>兌換金額$ : <span class="each-amount">{{(Math.floor(apiData[item] * amount*100)/100)}}</span></span>
                       </span>

                       <span @click='delHandler(item)' class='del-btn'>
                        <i class="far fa-trash-alt"></i>
                       </span>

                    </li>
                </ul>

            </div>
        </div>
    </div>
    

    <script>


        // let targetCurrency= 'usd';
        // let website = 'https://www.exchangerate-api.com/docs/supported-currencies';
        // let api = 'https://v6.exchangerate-api.com/v6/3b0ea361e3bbb6b38bf6228c/latest/usd'

        let vm = new Vue({                      
            el:'#app',
            data:{
                allList:[
                            {
                                "currencyCode": "AED",
                                "currencyName": "UAE Dirham",
                                "CountryName": "United Arab Emirates"
                            },
                            {
                                "currencyCode": "AFN",
                                "currencyName": "Afghan Afghani",
                                "CountryName": "Afghanistan"
                            },
                            {
                                "currencyCode": "ALL",
                                "currencyName": "Albanian Lek",
                                "CountryName": "Albania"
                            },
                            {
                                "currencyCode": "AMD",
                                "currencyName": "Armenian Dram",
                                "CountryName": "Armenia"
                            },
                            {
                                "currencyCode": "ANG",
                                "currencyName": "Netherlands Antillian Guilder",
                                "CountryName": "Netherlands Antilles"
                            },
                            {
                                "currencyCode": "AOA",
                                "currencyName": "Angolan Kwanza",
                                "CountryName": "Angola"
                            },
                            {
                                "currencyCode": "ARS",
                                "currencyName": "Argentine Peso",
                                "CountryName": "Argentina"
                            },
                            {
                                "currencyCode": "AUD",
                                "currencyName": "Australian Dollar",
                                "CountryName": "Australia"
                            },
                            {
                                "currencyCode": "AWG",
                                "currencyName": "Aruban Florin",
                                "CountryName": "Aruba"
                            },
                            {
                                "currencyCode": "AZN",
                                "currencyName": "Azerbaijani Manat",
                                "CountryName": "Azerbaijan"
                            },
                            {
                                "currencyCode": "BAM",
                                "currencyName": "Bosnia and Herzegovina Mark",
                                "CountryName": "Bosnia and Herzegovina"
                            },
                            {
                                "currencyCode": "BBD",
                                "currencyName": "Barbados Dollar",
                                "CountryName": "Barbados"
                            },
                            {
                                "currencyCode": "BDT",
                                "currencyName": "Bangladeshi Taka",
                                "CountryName": "Bangladesh"
                            },
                            {
                                "currencyCode": "BGN",
                                "currencyName": "Bulgarian Lev",
                                "CountryName": "Bulgaria"
                            },
                            {
                                "currencyCode": "BHD",
                                "currencyName": "Bahraini Dinar",
                                "CountryName": "Bahrain"
                            },
                            {
                                "currencyCode": "BIF",
                                "currencyName": "Burundian Franc",
                                "CountryName": "Burundi"
                            },
                            {
                                "currencyCode": "BMD",
                                "currencyName": "Bermudian Dollar",
                                "CountryName": "Bermuda"
                            },
                            {
                                "currencyCode": "BND",
                                "currencyName": "Brunei Dollar",
                                "CountryName": "Brunei"
                            },
                            {
                                "currencyCode": "BOB",
                                "currencyName": "Bolivian Boliviano",
                                "CountryName": "Bolivia"
                            },
                            {
                                "currencyCode": "BRL",
                                "currencyName": "Brazilian Real",
                                "CountryName": "Brazil"
                            },
                            {
                                "currencyCode": "BSD",
                                "currencyName": "Bahamian Dollar",
                                "CountryName": "Bahamas"
                            },
                            {
                                "currencyCode": "BTN",
                                "currencyName": "Bhutanese Ngultrum",
                                "CountryName": "Bhutan"
                            },
                            {
                                "currencyCode": "BWP",
                                "currencyName": "Botswana Pula",
                                "CountryName": "Botswana"
                            },
                            {
                                "currencyCode": "BYN",
                                "currencyName": "Belarusian Ruble",
                                "CountryName": "Belarus"
                            },
                            {
                                "currencyCode": "BZD",
                                "currencyName": "Belize Dollar",
                                "CountryName": "Belize"
                            },
                            {
                                "currencyCode": "CAD",
                                "currencyName": "Canadian Dollar",
                                "CountryName": "Canada"
                            },
                            {
                                "currencyCode": "CDF",
                                "currencyName": "Congolese Franc",
                                "CountryName": "Democratic Republic of the Congo"
                            },
                            {
                                "currencyCode": "CHF",
                                "currencyName": "Swiss Franc",
                                "CountryName": "Switzerland"
                            },
                            {
                                "currencyCode": "CLP",
                                "currencyName": "Chilean Peso",
                                "CountryName": "Chile"
                            },
                            {
                                "currencyCode": "CNY",
                                "currencyName": "Chinese Renminbi",
                                "CountryName": "China"
                            },
                            {
                                "currencyCode": "COP",
                                "currencyName": "Colombian Peso",
                                "CountryName": "Colombia"
                            },
                            {
                                "currencyCode": "CRC",
                                "currencyName": "Costa Rican Colon",
                                "CountryName": "Costa Rica"
                            },
                            {
                                "currencyCode": "CUC",
                                "currencyName": "Cuban Convertible Peso",
                                "CountryName": "Cuba"
                            },
                            {
                                "currencyCode": "CUP",
                                "currencyName": "Cuban Peso",
                                "CountryName": "Cuba"
                            },
                            {
                                "currencyCode": "CVE",
                                "currencyName": "Cape Verdean Escudo",
                                "CountryName": "Cape Verde"
                            },
                            {
                                "currencyCode": "CZK",
                                "currencyName": "Czech Koruna",
                                "CountryName": "Czech Republic"
                            },
                            {
                                "currencyCode": "DJF",
                                "currencyName": "Djiboutian Franc",
                                "CountryName": "Djibouti"
                            },
                            {
                                "currencyCode": "DKK",
                                "currencyName": "Danish Krone",
                                "CountryName": "Denmark"
                            },
                            {
                                "currencyCode": "DOP",
                                "currencyName": "Dominican Peso",
                                "CountryName": "Dominican Republic"
                            },
                            {
                                "currencyCode": "DZD",
                                "currencyName": "Algerian Dinar",
                                "CountryName": "Algeria"
                            },
                            {
                                "currencyCode": "EGP",
                                "currencyName": "Egyptian Pound",
                                "CountryName": "Egypt"
                            },
                            {
                                "currencyCode": "ERN",
                                "currencyName": "Eritrean Nakfa",
                                "CountryName": "Eritrea"
                            },
                            {
                                "currencyCode": "ETB",
                                "currencyName": "Ethiopian Birr",
                                "CountryName": "Ethiopia"
                            },
                            {
                                "currencyCode": "EUR",
                                "currencyName": "Euro",
                                "CountryName": "European Union"
                            },
                            {
                                "currencyCode": "FJD",
                                "currencyName": "Fiji Dollar",
                                "CountryName": "Fiji"
                            },
                            {
                                "currencyCode": "FKP",
                                "currencyName": "Falkland Islands Pound",
                                "CountryName": "Falkland Islands"
                            },
                            {
                                "currencyCode": "FOK",
                                "currencyName": "Faroese Króna",
                                "CountryName": "Faroe Islands"
                            },
                            {
                                "currencyCode": "GBP",
                                "currencyName": "Pound Sterling",
                                "CountryName": "United Kingdom"
                            },
                            {
                                "currencyCode": "GEL",
                                "currencyName": "Georgian Lari",
                                "CountryName": "Georgia"
                            },
                            {
                                "currencyCode": "GGP",
                                "currencyName": "Guernsey Pound",
                                "CountryName": "Guernsey"
                            },
                            {
                                "currencyCode": "GHS",
                                "currencyName": "Ghanaian Cedi",
                                "CountryName": "Ghana"
                            },
                            {
                                "currencyCode": "GIP",
                                "currencyName": "Gibraltar Pound",
                                "CountryName": "Gibraltar"
                            },
                            {
                                "currencyCode": "GMD",
                                "currencyName": "Gambian Dalasi",
                                "CountryName": "The Gambia"
                            },
                            {
                                "currencyCode": "GNF",
                                "currencyName": "Guinean Franc",
                                "CountryName": "Guinea"
                            },
                            {
                                "currencyCode": "GTQ",
                                "currencyName": "Guatemalan Quetzal",
                                "CountryName": "Guatemala"
                            },
                            {
                                "currencyCode": "GYD",
                                "currencyName": "Guyanese Dollar",
                                "CountryName": "Guyana"
                            },
                            {
                                "currencyCode": "HKD",
                                "currencyName": "Hong Kong Dollar",
                                "CountryName": "Hong Kong"
                            },
                            {
                                "currencyCode": "HNL",
                                "currencyName": "Honduran Lempira",
                                "CountryName": "Honduras"
                            },
                            {
                                "currencyCode": "HRK",
                                "currencyName": "Croatian Kuna",
                                "CountryName": "Croatia"
                            },
                            {
                                "currencyCode": "HTG",
                                "currencyName": "Haitian Gourde",
                                "CountryName": "Haiti"
                            },
                            {
                                "currencyCode": "HUF",
                                "currencyName": "Hungarian Forint",
                                "CountryName": "Hungary"
                            },
                            {
                                "currencyCode": "IDR",
                                "currencyName": "Indonesian Rupiah",
                                "CountryName": "Indonesia"
                            },
                            {
                                "currencyCode": "ILS",
                                "currencyName": "Israeli New Shekel",
                                "CountryName": "Israel"
                            },
                            {
                                "currencyCode": "IMP",
                                "currencyName": "Manx Pound",
                                "CountryName": "Isle of Man"
                            },
                            {
                                "currencyCode": "INR",
                                "currencyName": "Indian Rupee",
                                "CountryName": "India"
                            },
                            {
                                "currencyCode": "IQD",
                                "currencyName": "Iraqi Dinar",
                                "CountryName": "Iraq"
                            },
                            {
                                "currencyCode": "IRR",
                                "currencyName": "Iranian Rial",
                                "CountryName": "Iran"
                            },
                            {
                                "currencyCode": "ISK",
                                "currencyName": "Icelandic Króna",
                                "CountryName": "Iceland"
                            },
                            {
                                "currencyCode": "JMD",
                                "currencyName": "Jamaican Dollar",
                                "CountryName": "Jamaica"
                            },
                            {
                                "currencyCode": "JOD",
                                "currencyName": "Jordanian Dinar",
                                "CountryName": "Jordan"
                            },
                            {
                                "currencyCode": "JPY",
                                "currencyName": "Japanese Yen",
                                "CountryName": "Japan"
                            },
                            {
                                "currencyCode": "KES",
                                "currencyName": "Kenyan Shilling",
                                "CountryName": "Kenya"
                            },
                            {
                                "currencyCode": "KGS",
                                "currencyName": "Kyrgyzstani Som",
                                "CountryName": "Kyrgyzstan"
                            },
                            {
                                "currencyCode": "KHR",
                                "currencyName": "Cambodian Riel",
                                "CountryName": "Cambodia"
                            },
                            {
                                "currencyCode": "KID",
                                "currencyName": "Kiribati Dollar",
                                "CountryName": "Kiribati"
                            },
                            {
                                "currencyCode": "KMF",
                                "currencyName": "Comorian Franc",
                                "CountryName": "Comoros"
                            },
                            {
                                "currencyCode": "KRW",
                                "currencyName": "South Korean Won",
                                "CountryName": "South Korea"
                            },
                            {
                                "currencyCode": "KWD",
                                "currencyName": "Kuwaiti Dinar",
                                "CountryName": "Kuwait"
                            },
                            {
                                "currencyCode": "KYD",
                                "currencyName": "Cayman Islands Dollar",
                                "CountryName": "Cayman Islands"
                            },
                            {
                                "currencyCode": "KZT",
                                "currencyName": "Kazakhstani Tenge",
                                "CountryName": "Kazakhstan"
                            },
                            {
                                "currencyCode": "LAK",
                                "currencyName": "Lao Kip",
                                "CountryName": "Laos"
                            },
                            {
                                "currencyCode": "LBP",
                                "currencyName": "Lebanese Pound",
                                "CountryName": "Lebanon"
                            },
                            {
                                "currencyCode": "LKR",
                                "currencyName": "Sri Lanka Rupee",
                                "CountryName": "Sri Lanka"
                            },
                            {
                                "currencyCode": "LRD",
                                "currencyName": "Liberian Dollar",
                                "CountryName": "Liberia"
                            },
                            {
                                "currencyCode": "LSL",
                                "currencyName": "Lesotho Loti",
                                "CountryName": "Lesotho"
                            },
                            {
                                "currencyCode": "LYD",
                                "currencyName": "Libyan Dinar",
                                "CountryName": "Libya"
                            },
                            {
                                "currencyCode": "MAD",
                                "currencyName": "Moroccan Dirham",
                                "CountryName": "Morocco"
                            },
                            {
                                "currencyCode": "MDL",
                                "currencyName": "Moldovan Leu",
                                "CountryName": "Moldova"
                            },
                            {
                                "currencyCode": "MGA",
                                "currencyName": "Malagasy Ariary",
                                "CountryName": "Madagascar"
                            },
                            {
                                "currencyCode": "MKD",
                                "currencyName": "Macedonian Denar",
                                "CountryName": "North Macedonia"
                            },
                            {
                                "currencyCode": "MMK",
                                "currencyName": "Burmese Kyat",
                                "CountryName": "Myanmar"
                            },
                            {
                                "currencyCode": "MNT",
                                "currencyName": "Mongolian Tögrög",
                                "CountryName": "Mongolia"
                            },
                            {
                                "currencyCode": "MOP",
                                "currencyName": "Macanese Pataca",
                                "CountryName": "Macau"
                            },
                            {
                                "currencyCode": "MRU",
                                "currencyName": "Mauritanian Ouguiya",
                                "CountryName": "Mauritania"
                            },
                            {
                                "currencyCode": "MUR",
                                "currencyName": "Mauritian Rupee",
                                "CountryName": "Mauritius"
                            },
                            {
                                "currencyCode": "MVR",
                                "currencyName": "Maldivian Rufiyaa",
                                "CountryName": "Maldives"
                            },
                            {
                                "currencyCode": "MWK",
                                "currencyName": "Malawian Kwacha",
                                "CountryName": "Malawi"
                            },
                            {
                                "currencyCode": "MXN",
                                "currencyName": "Mexican Peso",
                                "CountryName": "Mexico"
                            },
                            {
                                "currencyCode": "MYR",
                                "currencyName": "Malaysian Ringgit",
                                "CountryName": "Malaysia"
                            },
                            {
                                "currencyCode": "MZN",
                                "currencyName": "Mozambican Metical",
                                "CountryName": "Mozambique"
                            },
                            {
                                "currencyCode": "NAD",
                                "currencyName": "Namibian Dollar",
                                "CountryName": "Namibia"
                            },
                            {
                                "currencyCode": "NGN",
                                "currencyName": "Nigerian Naira",
                                "CountryName": "Nigeria"
                            },
                            {
                                "currencyCode": "NIO",
                                "currencyName": "Nicaraguan Córdoba",
                                "CountryName": "Nicaragua"
                            },
                            {
                                "currencyCode": "NOK",
                                "currencyName": "Norwegian Krone",
                                "CountryName": "Norway"
                            },
                            {
                                "currencyCode": "NPR",
                                "currencyName": "Nepalese Rupee",
                                "CountryName": "Nepal"
                            },
                            {
                                "currencyCode": "NZD",
                                "currencyName": "New Zealand Dollar",
                                "CountryName": "New Zealand"
                            },
                            {
                                "currencyCode": "OMR",
                                "currencyName": "Omani Rial",
                                "CountryName": "Oman"
                            },
                            {
                                "currencyCode": "PAB",
                                "currencyName": "Panamanian Balboa",
                                "CountryName": "Panama"
                            },
                            {
                                "currencyCode": "PEN",
                                "currencyName": "Peruvian Sol",
                                "CountryName": "Peru"
                            },
                            {
                                "currencyCode": "PGK",
                                "currencyName": "Papua New Guinean Kina",
                                "CountryName": "Papua New Guinea"
                            },
                            {
                                "currencyCode": "PHP",
                                "currencyName": "Philippine Peso",
                                "CountryName": "Philippines"
                            },
                            {
                                "currencyCode": "PKR",
                                "currencyName": "Pakistani Rupee",
                                "CountryName": "Pakistan"
                            },
                            {
                                "currencyCode": "PLN",
                                "currencyName": "Polish Złoty",
                                "CountryName": "Poland"
                            },
                            {
                                "currencyCode": "PYG",
                                "currencyName": "Paraguayan Guaraní",
                                "CountryName": "Paraguay"
                            },
                            {
                                "currencyCode": "QAR",
                                "currencyName": "Qatari Riyal",
                                "CountryName": "Qatar"
                            },
                            {
                                "currencyCode": "RON",
                                "currencyName": "Romanian Leu",
                                "CountryName": "Romania"
                            },
                            {
                                "currencyCode": "RSD",
                                "currencyName": "Serbian Dinar",
                                "CountryName": "Serbia"
                            },
                            {
                                "currencyCode": "RUB",
                                "currencyName": "Russian Ruble",
                                "CountryName": "Russia"
                            },
                            {
                                "currencyCode": "RWF",
                                "currencyName": "Rwandan Franc",
                                "CountryName": "Rwanda"
                            },
                            {
                                "currencyCode": "SAR",
                                "currencyName": "Saudi Riyal",
                                "CountryName": "Saudi Arabia"
                            },
                            {
                                "currencyCode": "SBD",
                                "currencyName": "Solomon Islands Dollar",
                                "CountryName": "Solomon Islands"
                            },
                            {
                                "currencyCode": "SCR",
                                "currencyName": "Seychellois Rupee",
                                "CountryName": "Seychelles"
                            },
                            {
                                "currencyCode": "SDG",
                                "currencyName": "Sudanese Pound",
                                "CountryName": "Sudan"
                            },
                            {
                                "currencyCode": "SEK",
                                "currencyName": "Swedish Krona",
                                "CountryName": "Sweden"
                            },
                            {
                                "currencyCode": "SGD",
                                "currencyName": "Singapore Dollar",
                                "CountryName": "Singapore"
                            },
                            {
                                "currencyCode": "SHP",
                                "currencyName": "Saint Helena Pound",
                                "CountryName": "Saint Helena"
                            },
                            {
                                "currencyCode": "SLL",
                                "currencyName": "Sierra Leonean Leone",
                                "CountryName": "Sierra Leone"
                            },
                            {
                                "currencyCode": "SOS",
                                "currencyName": "Somali Shilling",
                                "CountryName": "Somalia"
                            },
                            {
                                "currencyCode": "SRD",
                                "currencyName": "Surinamese Dollar",
                                "CountryName": "Suriname"
                            },
                            {
                                "currencyCode": "SSP",
                                "currencyName": "South Sudanese Pound",
                                "CountryName": "South Sudan"
                            },
                            {
                                "currencyCode": "STN",
                                "currencyName": "São Tomé and Príncipe Dobra",
                                "CountryName": "São Tomé and Príncipe"
                            },
                            {
                                "currencyCode": "SYP",
                                "currencyName": "Syrian Pound",
                                "CountryName": "Syria"
                            },
                            {
                                "currencyCode": "SZL",
                                "currencyName": "Eswatini Lilangeni",
                                "CountryName": "Eswatini"
                            },
                            {
                                "currencyCode": "THB",
                                "currencyName": "Thai Baht",
                                "CountryName": "Thailand"
                            },
                            {
                                "currencyCode": "TJS",
                                "currencyName": "Tajikistani Somoni",
                                "CountryName": "Tajikistan"
                            },
                            {
                                "currencyCode": "TMT",
                                "currencyName": "Turkmenistan Manat",
                                "CountryName": "Turkmenistan"
                            },
                            {
                                "currencyCode": "TND",
                                "currencyName": "Tunisian Dinar",
                                "CountryName": "Tunisia"
                            },
                            {
                                "currencyCode": "TOP",
                                "currencyName": "Tongan Paʻanga",
                                "CountryName": "Tonga"
                            },
                            {
                                "currencyCode": "TRY",
                                "currencyName": "Turkish Lira",
                                "CountryName": "Turkey"
                            },
                            {
                                "currencyCode": "TTD",
                                "currencyName": "Trinidad and Tobago Dollar",
                                "CountryName": "Trinidad and Tobago"
                            },
                            {
                                "currencyCode": "TVD",
                                "currencyName": "Tuvaluan Dollar",
                                "CountryName": "Tuvalu"
                            },
                            {
                                "currencyCode": "TWD",
                                "currencyName": "New Taiwan Dollar",
                                "CountryName": "Taiwan"
                            },
                            {
                                "currencyCode": "TZS",
                                "currencyName": "Tanzanian Shilling",
                                "CountryName": "Tanzania"
                            },
                            {
                                "currencyCode": "UAH",
                                "currencyName": "Ukrainian Hryvnia",
                                "CountryName": "Ukraine"
                            },
                            {
                                "currencyCode": "UGX",
                                "currencyName": "Ugandan Shilling",
                                "CountryName": "Uganda"
                            },
                            {
                                "currencyCode": "USD",
                                "currencyName": "United States Dollar",
                                "CountryName": "United States"
                            },
                            {
                                "currencyCode": "UYU",
                                "currencyName": "Uruguayan Peso",
                                "CountryName": "Uruguay"
                            },
                            {
                                "currencyCode": "UZS",
                                "currencyName": "Uzbekistani So'm",
                                "CountryName": "Uzbekistan"
                            },
                            {
                                "currencyCode": "VES",
                                "currencyName": "Venezuelan Bolívar Soberano",
                                "CountryName": "Venezuela"
                            },
                            {
                                "currencyCode": "VND",
                                "currencyName": "Vietnamese Đồng",
                                "CountryName": "Vietnam"
                            },
                            {
                                "currencyCode": "VUV",
                                "currencyName": "Vanuatu Vatu",
                                "CountryName": "Vanuatu"
                            },
                            {
                                "currencyCode": "WST",
                                "currencyName": "Samoan Tālā",
                                "CountryName": "Samoa"
                            },
                            {
                                "currencyCode": "XAF",
                                "currencyName": "Central African CFA Franc",
                                "CountryName": "CEMAC"
                            },
                            {
                                "currencyCode": "XCD",
                                "currencyName": "East Caribbean Dollar",
                                "CountryName": "Organisation of Eastern Caribbean States"
                            },
                            {
                                "currencyCode": "XDR",
                                "currencyName": "Special Drawing Rights",
                                "CountryName": "International Monetary Fund"
                            },
                            {
                                "currencyCode": "XOF",
                                "currencyName": "West African CFA franc",
                                "CountryName": "CFA"
                            },
                            {
                                "currencyCode": "XPF",
                                "currencyName": "CFP Franc",
                                "CountryName": "Collectivités d'Outre-Mer"
                            },
                            {
                                "currencyCode": "YER",
                                "currencyName": "Yemeni Rial",
                                "CountryName": "Yemen"
                            },
                            {
                                "currencyCode": "ZAR",
                                "currencyName": "South African Rand",
                                "CountryName": "South Africa"
                            },
                            {
                                "currencyCode": "ZMW",
                                "currencyName": "Zambian Kwacha",
                                "CountryName": "Zambia"
                            }],
                open: false,
                CurrencyFrom: 'USD',
                amount: 1000,

                selecting:'選擇幣別',
                inputingAmount:1000,
                CurrencyTo:['TWD','USD','JPY',"KRW","EUR"],

                apiData:[],
                rateList:[],

            },
            methods:{
                getData(){
                    let api = `https://v6.exchangerate-api.com/v6/3b0ea361e3bbb6b38bf6228c/latest/${this.CurrencyFrom}`
                
                    axios.get(api)
                    .then((response)=>{
                        this.apiData = (response.data.conversion_rates);

                        for(let key in this.apiData){
                            let rate = 
                            {currencyCode:key, currencyRate:this.apiData[key]};
                            this.rateList.push(rate);
                        }
                    })
                },
                addInto(item){this.CurrencyTo.push(item.currencyCode)},
                exchangeUp(){

                    if(this.selecting == '選擇幣別'){
                        alert('請選擇幣別');
                        return;
                    }

                    this.amount = this.inputingAmount;
                    this.CurrencyFrom = this.selecting;
                    this.getData();

                    this.localStorage_save();

                },
                delHandler(delItem){ 
                    this.CurrencyTo.forEach((item,index)=>{

                        if(delItem == item){
                            this.CurrencyTo.splice(index,1)
                        }
                    })
                },
                swapHandler(item){

                    let index = this.CurrencyTo.indexOf(item);
                    this.CurrencyTo[index] = this.CurrencyFrom;

                    this.CurrencyFrom = item;
                    this.getData();
                },

                localStorage_save(){
                    let curFrom = this.CurrencyFrom;
                    localStorage.setItem('curFrom', curFrom);

                    let exchangelist = JSON.stringify(this.CurrencyTo);
                    localStorage.setItem('curTo', exchangelist)
                },

                lacalStorage_get(){
                    let curFrom = localStorage.getItem('curFrom')||'USD'
                    this.CurrencyFrom = curFrom;

                    let exchangelist = JSON.parse(localStorage.getItem('curTo'))|| ['TWD','USD','JPY',"KRW","EUR"];
                    this.CurrencyTo = exchangelist;
                }
            },
            
            created(){
                this.getData();
                this.lacalStorage_get();
            },
        })
    </script>


</body>
</html>